* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #29b7dd;
}
a {
  text-decoration: none;
}
@mixin auto {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1500px;
}
.bordureViolet {
  background: #3b065e;
  padding: 20px 0;
  color: gray;
  margin-bottom: 70px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include auto();
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
  @include auto();
  padding: 0 20px;
}
.flex {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 250px;
  width: 300px;
  text-align: center;
  padding: 0 15px;
}
.flex i {
  color: #29b7dd;
  font-size: 3.4rem;
}
h3 {
  text-transform: uppercase;
  font-family: "Roboto";
  margin: 22px 0;
}
main {
  @include auto();
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.main-1 {
  color: #ffffff;
  padding-left: 50px;
}
h2 {
  font-size: 3rem;
  margin-bottom: 35px;
}
p {
  font-size: 1.2rem;
  line-height: 30px;
  width: 90%;
}
img {
  border-radius: 9999px;
  width: 255px;
  height: 255px;
  background-position: 50% 50%;
  margin: 30px auto 32px 0;
}
a {
  color: #ffffff;
  font-size: 1.2rem;
}
.main-2 {
  padding-right: 50px;
}
label {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 800;
}
#Email,
#text,
#area,
#submit {
  outline: none;
  border: none;
  height: 50px;
  width: 100%;
  font-size: 1rem;
  color: gray;
  display: flex;
  flex-direction: column;
  padding: 5%;
  margin-bottom: 30px;
}
#area {
  resize: none;
  width: 100%;
  height: 150px;
}
.Email {
  display: flex;
  flex-direction: column;
}
